---
import Link from "./Link.astro";

let { category, posts } = Astro.props;
posts = posts.filter((post) => post.data.tags.includes(category));
---

<ul class="category">
    <h2 id={category} class="category--name">{category}</h2>
    {
        posts.map((post) => (
            <li class="category--item l-flex">
                <Link href={`/posts/${post.slug}/`} class="category--link">
                    {post.data.title}
                </Link>
                <time class="category--entry-date">
                    {new Date(post.data.date).toLocaleDateString("en-GB", {
                        day: "numeric",
                        month: "long",
                        year: "numeric",
                    })}
                </time>
            </li>
        ))
    }
</ul>
