---
import BaseHead from "../components/BaseHead.astro"
import Sidebar from "../components/Sidebar.astro"

const { title, description, image } = Astro.props;
---
<!DOCTYPE html>
<html lang="en-us">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-MREN768H0D"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-MREN768H0D');
		</script>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<div class='m-wrapper l-flex' id='all-content'>
			<Sidebar id='sidebar' />
			<main id='main'>
				<slot />
			</main>
		</div>
	</body>
</html>